
.main{
    
}

.myskills{
   background: #7299FE;
}

.services{
    background: #FB7171;
}

.portfolio{
    background: #FFD233;
}
.clients{

    background: #3F4E62;

}

.contact{
    background: #16A085;
}

